<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innovator.solve">

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:name="com.innovator.solve.InnovatorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.innovator.solve.ProgressBarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.ReadingQuestions"></activity>
        <activity android:name="com.innovator.solve.MainMenuController">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.DailyChallenge">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.PastProblems">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.RetryProblem">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.QuestionMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.SetupMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.TopicSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.innovator.solve.MultipleAnswerQuestionActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.innovator.solve.ShortAnswerQuestionActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.innovator.solve.DragAndDropQuestion">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.innovator.solve.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.innovator.solve.CongratsPage">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.innovator.solve.PastProblemsTwo">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.innovator.solve.Review">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name="com.innovator.solve.ReminderBroadcast"/>

    </application>

</manifest>